<body id="page-top">
    <div id="wrapper">
                <div class="container-fluid">
                    <h3 class="text-dark mb-1">Invoices</h3>
                    <div class="card shadow mb-3">
                        <div class="card-header">
                            <p class="text-primary m-0 font-weight-bold">Invoice Info</p>
                        </div>
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-3">
                                    <select class="form-control">
                                        <option selected="selected" disabled>Select An Invoice</option>
                                        <option>Invoice 10004 - Openlane</option>
                                        <option>Invoice 10004 - Openlane</option>
                                        <option>Invoice 10004 - Openlane</option>
                                        <option>Invoice 10004 - Openlane</option>
                                        <option>Invoice 10004 - Openlane</option>
                                    </select>
                                </div>
                                <div class="text-right col">
                                    <span class="mr-1">Balance including current amounts:</span>
                                    <span id="customerinvoiceamount">13.077,51</span>
                                </div>
                            </div>
                            <div class="card shadow mb-2"></div>
                            <div class="row">
                                <div class="col-3">
                                    <p class="small mb-2">Customer Number: 101</p>
                                    <h5 class="font-weight-bold mb-0">Openlane</h5>
                                    <p class="small">Addressway 27, 2300, Copenhagen S, Denmark</p>
                                    <div class="text-right m-2">
                                        <button class="btn btn-primary far fa-edit" data-toggle="modal" data-target="#tempeditmodal"></button>
                                    </div>
                                    <div class="card shadow mb-2"></div>
                                    <div class="row">
                                        <div class="col">
                                            <p class="font-weight-bold small m-0">Terms</p>
                                            <p class="small">Net 8 days</p>
                                        </div>
                                        <div class="col">
                                            <p class="small font-weight-bold m-0">Date</p>
                                            <p class="small">22/05/2020</p>
                                        </div>
                                    </div>
                                    <div class="text-right m-2">
                                        <button class="btn btn-primary far fa-edit" data-toggle="modal" data-target="#tempeditmodal"></button>
                                    </div>
                                    <div class="card shadow mb-2"></div>
                                    <div class="row">
                                        <div class="col">
                                            <p class="small font-weight-bold m-0">Delivery</p>
                                            <p class="small">Address, Delivery Terms and Date</p>
                                        </div>
                                    </div>
                                    <div class="text-right m-2">
                                        <button class="btn btn-primary far fa-edit" data-toggle="modal" data-target="#tempeditmodal"></button>
                                    </div>

                                </div>
                                <div class="card shadow"></div>
                                <div class="col-3">
                                    <p class="small font-weight-bold mb-1">Notes and References</p>
                                    <p class="small font-weight-bold mb-1">Heading</p>
                                    <p class="small font-weight-bold mb-1">Text 1</p>
                                    <p class="small font-weight-bold mb-1">Text 2</p>
                                    <p class="small font-weight-bold mb-1">Their ref.</p>
                                    <p class="small font-weight-bold mb-1">Our ref.</p>
                                    <p class="small font-weight-bold mb-0">Other ref.</p>
                                    <div class="text-right m-2">
                                        <button class="btn btn-primary far fa-edit" data-toggle="modal" data-target="#tempeditmodal"></button>
                                    </div>
                                    <div class="card shadow mb-2"></div>
                                    <p class="small font-weight-bold mb-0">Attachments</p>
                                    <div class="text-right m-2">
                                        <button class="btn btn-primary far fa-edit" data-toggle="modal" data-target="#tempeditmodal"></button>
                                    </div>
                                </div>

                                <div class="modal fade" id="tempeditmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLongTitle">Temporary Modal</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          Much easier to design with access to the API
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                          <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  
                                  <div class="modal fade" id="invoicemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLongTitle">Invoice</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body text-center">
                                          <img src="assets/img/invoice.png">
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                <div class="card shadow"></div>
                                <div class="col">
                                    <div class="row">
                                            <img class="img-thumbnail btn p-0" style="max-width: 15%;" data-toggle="modal" data-target="#invoicemodal" src="assets/img/invoice.png">
                                        
                                        <div class="col">
                                            <div class="row m-0 p-0">
                                                <span class="small font-weight-bold mb-1 mr-2">Subtotal:</span>
                                                <span class="small font-weight-bold">7.339,50</span>
                                            </div>
                                            <div class="row m-0 mb-3 p-0">
                                                <span class="small font-weight-bold mb-1 mr-2">Tax:</span>
                                                <span class="small font-weight-bold">1.834,88</span>
                                            </div>
                                            <div class="row m-0 mb-3 p-0">
                                                <span class="small font-weight-bold mb-1 mr-2">Profit:</span>
                                                <span class="small font-weight-bold">7.139,50 (97%)</span>
                                            </div>
                                                <div class="col m-0 p-0">
                                                    <span class="small font-weight-bold mb-1 mr-2">Total:</span>
                                            </div>
                                            <u class="font-weight-bold mr-2">DKK</u>
                                            <span class="font-weight-bold">9.174,38</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">Invoice Selection</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div>
                                    <button class="btn btn-primary mr-2 ml-2" data-toggle="collapse" type="button" data-target="#invoiceform">New Invoice Line</button>
                                    <button class="btn btn-primary mr-2">Post and Send Invoice</button>
                                </div>
                                <div class="text-left col">
                                    <select class="form-control mr-2">
                                        <option hidden selected>Other Options</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                        <option>Option 3</option>
                                    </select>
                                </div>
                                <div>
                                    <div class="input-group text-right" style="height: 38px;">
                                        <button class="btn btn-primary fas fa-table mr-2" ></button>
                                        <button class="btn btn-primary fas fa-print mr-2"></button>
                                    </div>

                                </div>
                            </div>
                            <div class="accordion-body collapse" id="productform">
                                <div class="card shadow mb-3"></div>
                                <form class="form">
                            <div class="form-row">

                                <div class="col">
                                    <label for="number"><strong>Number</strong></label><input class="form-control" type="number" name="number">
                                </div>
                                <div class="col">
                                    <label for="name"><strong>Name</strong></label><input class="form-control" type="text" name="name">
                                </div>
                                <div class="col">
                                    <label for="group"><strong>Group</strong></label><input class="form-control" type="number" name="group" step="1">
                                </div>
                                <div class="col">
                                    <label for="salesprice"><strong>Salesprice</strong></label><input class="form-control" type="number" step="0.01" name="salesprice">
                                </div>
                                <div class="col">
                                    <label for="cost"><strong>Cost</strong></label><input class="form-control" type="number" step="0.01" name="cost">
                                </div>
                            </div>
                            <div class="form-row p-1 py-2">
                                <button type="submit" class="btn btn-primary" data-toggle="collapse" data-target="productform">Add</button>
                            </div>

                        </form>
                    </div>
                            <div class="table-responsive table mt-2 table-sm" id="dataTable"  style="overflow-x: hidden;" role="grid" aria-describedby="dataTable_info">
                                <table class="table dataTable my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th>Line Number</th>
                                            <th>Product Number</th>
                                            <th>Product Name</th>
                                            <th>Amount</th>
                                            <th>Unit</th>
                                            <th>Unit Price</th>
                                            <th>Discount (%)</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>1000002</td>
                                            <td>ITC Consultant Hourly - Ticket 30212</td>
                                            <td>0,50</td>
                                            <td>Hours</td>
                                            <td>1249,00</td>
                                            <td>0,00</td>
                                            <td>624,50</td>
                                            <td class="text-right">
                                                <button style="width: 45px;" class="btn btn-primary far fa-edit" data-toggle="collapse" data-target="#producteditform1"></button>
                                                <button style="width: 45px;" class="btn btn-primary far fa-file-alt"></button>
                                                <button style="width: 45px;" class="btn btn-primary far fa-clone mr-3"></button>
                                                <button style="width: 45px;" class="btn btn-danger fa fa-trash"></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="12"  class="hiddenRow m-0 p-0">
                                                <div class="accordion-body collapse" id="producteditform1">
                                                    <div class="card shadow mb-3"></div>
                                                    <form class="form">
                                                        <div class="form-row">
    
                                                        <div class="col">
                                                            <label for="number"><strong>Line Number</strong></label><input class="form-control" type="number" name="number">
                                                        </div>
                                                        <div class="col">
                                                            <label for="name"><strong>Product Number</strong></label><input class="form-control" type="number" name="name">
                                                        </div>
                                                        <div class="col">
                                                            <label for="group"><strong>Product Name</strong></label><input class="form-control" type="text" name="group">
                                                        </div>
                                                        <div class="col">
                                                            <label for="amount"><strong>Amount</strong></label><input class="form-control" type="number" step="0.01" name="salesprice">
                                                        </div>
                                                        <div class="col">
                                                            <label for="cost"><strong>Unit</strong></label>
                                                            <select class="form-control">
                                                                <option>Hourly</option>
                                                                <option>Piece</option>
                                                            </select>
                                                        </div>
                                                        <div class="col">
                                                            <label for="amount"><strong>Unit Price</strong></label><input class="form-control" type="number" step="0.01" name="salesprice">
                                                        </div>
                                                        <div class="col">
                                                            <label for="amount"><strong>Discount (%)</strong></label><input class="form-control" type="number" step="0.1" name="salesprice">
                                                        </div>
                                                        <div class="col">
                                                            <label for="amount"><strong>Total</strong></label><input class="form-control" type="number" step="0.01" name="salesprice">
                                                        </div>

                                                    </div>
                                                    <div class="form-row p-1 py-2">
                                                        <button type="submit" class="btn btn-primary" data-toggle="collapse" data-target="productform">Save</button>
                                                    </div>
    
                                                </form>
                                            </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>1000002</td>
                                            <td>ITC Consultant Hourly - Ticket 30212</td>
                                            <td>0,50</td>
                                            <td>Hours</td>
                                            <td>1249,00</td>
                                            <td>0,00</td>
                                            <td>624,50</td>
                                            <td class="text-right">
                                                <button style="width: 45px;" class="btn btn-primary far fa-edit" data-toggle="collapse" data-target="#producteditform1"></button>
                                                <button style="width: 45px;" class="btn btn-primary far fa-file-alt"></button>
                                                <button style="width: 45px;" class="btn btn-primary far fa-clone mr-3"></button>
                                                <button style="width: 45px;" class="btn btn-danger fa fa-trash"></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="12"  class="hiddenRow m-0 p-0">
                                                <div class="accordion-body collapse" id="producteditform1">
                                                    <div class="card shadow mb-3"></div>
                                                    <form class="form">
                                                        <div class="form-row">
    
                                                        <div class="col">
                                                            <label for="number"><strong>Line Number</strong></label><input class="form-control" type="number" name="number">
                                                        </div>
                                                        <div class="col">
                                                            <label for="name"><strong>Product Number</strong></label><input class="form-control" type="number" name="name">
                                                        </div>
                                                        <div class="col">
                                                            <label for="group"><strong>Product Name</strong></label><input class="form-control" type="text" name="group">
                                                        </div>
                                                        <div class="col">
                                                            <label for="amount"><strong>Amount</strong></label><input class="form-control" type="number" step="0.01" name="salesprice">
                                                        </div>
                                                        <div class="col">
                                                            <label for="cost"><strong>Unit</strong></label>
                                                            <select class="form-control">
                                                                <option>Hourly</option>
                                                                <option>Piece</option>
                                                            </select>
                                                        </div>
                                                        <div class="col">
                                                            <label for="amount"><strong>Unit Price</strong></label><input class="form-control" type="number" step="0.01" name="salesprice">
                                                        </div>
                                                        <div class="col">
                                                            <label for="amount"><strong>Discount (%)</strong></label><input class="form-control" type="number" step="0.1" name="salesprice">
                                                        </div>
                                                        <div class="col">
                                                            <label for="amount"><strong>Total</strong></label><input class="form-control" type="number" step="0.01" name="salesprice">
                                                        </div>

                                                    </div>
                                                    <div class="form-row p-1 py-2">
                                                        <button type="submit" class="btn btn-primary" data-toggle="collapse" data-target="productform">Save</button>
                                                    </div>
    
                                                </form>
                                            </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>1000002</td>
                                            <td>ITC Consultant Hourly - Ticket 30212</td>
                                            <td>0,50</td>
                                            <td>Hours</td>
                                            <td>1249,00</td>
                                            <td>0,00</td>
                                            <td>624,50</td>
                                            <td class="text-right">
                                                <button style="width: 45px;" class="btn btn-primary far fa-edit" data-toggle="collapse" data-target="#producteditform1"></button>
                                                <button style="width: 45px;" class="btn btn-primary far fa-file-alt"></button>
                                                <button style="width: 45px;" class="btn btn-primary far fa-clone mr-3"></button>
                                                <button style="width: 45px;" class="btn btn-danger fa fa-trash"></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="12"  class="hiddenRow m-0 p-0">
                                                <div class="accordion-body collapse" id="producteditform1">
                                                    <div class="card shadow mb-3"></div>
                                                    <form class="form">
                                                        <div class="form-row">
    
                                                        <div class="col">
                                                            <label for="number"><strong>Line Number</strong></label><input class="form-control" type="number" name="number">
                                                        </div>
                                                        <div class="col">
                                                            <label for="name"><strong>Product Number</strong></label><input class="form-control" type="number" name="name">
                                                        </div>
                                                        <div class="col">
                                                            <label for="group"><strong>Product Name</strong></label><input class="form-control" type="text" name="group">
                                                        </div>
                                                        <div class="col">
                                                            <label for="amount"><strong>Amount</strong></label><input class="form-control" type="number" step="0.01" name="salesprice">
                                                        </div>
                                                        <div class="col">
                                                            <label for="cost"><strong>Unit</strong></label>
                                                            <select class="form-control">
                                                                <option>Hourly</option>
                                                                <option>Piece</option>
                                                            </select>
                                                        </div>
                                                        <div class="col">
                                                            <label for="amount"><strong>Unit Price</strong></label><input class="form-control" type="number" step="0.01" name="salesprice">
                                                        </div>
                                                        <div class="col">
                                                            <label for="amount"><strong>Discount (%)</strong></label><input class="form-control" type="number" step="0.1" name="salesprice">
                                                        </div>
                                                        <div class="col">
                                                            <label for="amount"><strong>Total</strong></label><input class="form-control" type="number" step="0.01" name="salesprice">
                                                        </div>

                                                    </div>
                                                    <div class="form-row p-1 py-2">
                                                        <button type="submit" class="btn btn-primary" data-toggle="collapse" data-target="productform">Save</button>
                                                    </div>
    
                                                </form>
                                            </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>1000002</td>
                                            <td>ITC Consultant Hourly - Ticket 30212</td>
                                            <td>0,50</td>
                                            <td>Hours</td>
                                            <td>1249,00</td>
                                            <td>0,00</td>
                                            <td>624,50</td>
                                            <td class="text-right">
                                                <button style="width: 45px;" class="btn btn-primary far fa-edit" data-toggle="collapse" data-target="#producteditform1"></button>
                                                <button style="width: 45px;" class="btn btn-primary far fa-file-alt"></button>
                                                <button style="width: 45px;" class="btn btn-primary far fa-clone mr-3"></button>
                                                <button style="width: 45px;" class="btn btn-danger fa fa-trash"></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="12"  class="hiddenRow m-0 p-0">
                                                <div class="accordion-body collapse" id="producteditform1">
                                                    <div class="card shadow mb-3"></div>
                                                    <form class="form">
                                                        <div class="form-row">
    
                                                        <div class="col">
                                                            <label for="number"><strong>Line Number</strong></label><input class="form-control" type="number" name="number">
                                                        </div>
                                                        <div class="col">
                                                            <label for="name"><strong>Product Number</strong></label><input class="form-control" type="number" name="name">
                                                        </div>
                                                        <div class="col">
                                                            <label for="group"><strong>Product Name</strong></label><input class="form-control" type="text" name="group">
                                                        </div>
                                                        <div class="col">
                                                            <label for="amount"><strong>Amount</strong></label><input class="form-control" type="number" step="0.01" name="salesprice">
                                                        </div>
                                                        <div class="col">
                                                            <label for="cost"><strong>Unit</strong></label>
                                                            <select class="form-control">
                                                                <option>Hourly</option>
                                                                <option>Piece</option>
                                                            </select>
                                                        </div>
                                                        <div class="col">
                                                            <label for="amount"><strong>Unit Price</strong></label><input class="form-control" type="number" step="0.01" name="salesprice">
                                                        </div>
                                                        <div class="col">
                                                            <label for="amount"><strong>Discount (%)</strong></label><input class="form-control" type="number" step="0.1" name="salesprice">
                                                        </div>
                                                        <div class="col">
                                                            <label for="amount"><strong>Total</strong></label><input class="form-control" type="number" step="0.01" name="salesprice">
                                                        </div>

                                                    </div>
                                                    <div class="form-row p-1 py-2">
                                                        <button type="submit" class="btn btn-primary" data-toggle="collapse" data-target="productform">Save</button>
                                                    </div>
    
                                                </form>
                                            </div>
                                            </td>
                                        </tr>
                                        
                                </table>
                            </div>
                            
                        </div>
                    </div>


                </div>
            </div>
</body>